<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FXO_Shiftleft_BDD" guice-stage="DEVELOPMENT">
  <test thread-count="5" name="Shift Left" verbose="2">
    <classes>
      
      <class name="com.FXO_Shiftleft_BDD.automation.testRunner.RunTest"/>
      
      <!--com.FXO_Shiftleft_BDD.automation.-->

    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->

